[2015-02-24 16:02] ekoshkin opened #1 "Show authentication errors to the user"
Error examples
- Azure error responses
- Inability to create new TeamCity user as a result of auth scheme configuration

[2015-02-24 16:03] ekoshkin opened #2 "Custiomize Azure login page via request parameters"

[2015-02-25 22:56] victorhurdugaci opened #3 "MalformedJsonException after login"
I've enabled the plugin on a TC server but it fails to login. After I type in the credentials, I get the following error:

[code]

[2015-02-26 15:28] ekoshkin commented on #3
I've adjusted incoming JWT processing so issue should be fixed in latest plugin version.
If not, I've logged more details so please share teamcity server logs with me if it will not work.
Thank you for the feedback!

[2015-02-27 03:52] victorhurdugaci commented on #3
Hi Evgeniy,

Thanks for the fast reply. Your changes didn't fix the issue.

However, I spent some time today and finally figured out the bug. The payload in `id_token` that comes back from the OAuth server and which is supposed to be base64 encoded, has a length that is not a multiple of 4. It seems that `Base64.decodeBase64` will drop the last character in that case - the closing `}` was dropped,

[2015-02-27 03:54] victorhurdugaci opened #4 "Login without creating a user"
In the configuration page for this plugin there is a checkbox that says if a user should be created or not upon first login.

Maybe my expectation is wrong but I was expecting to be able to login is that checkbox is unchecked. However, if I try to do that, I just get redirected to the login page. I can only login with a new user if that checkbox is checked.

[2015-02-27 12:02] ekoshkin commented on #3
@victorhurdugaci Thanks for your tip! Could you please share sample id_token with me? I'm not able to reproduce described fixed behaviour in tests.

[2015-02-27 12:32] ekoshkin commented on #4
This checkbox if unchecked (creating of new user is forbidden) should work as follow:
 - if such a user was registered already somehow - login should be successful on behalf of that user
 - if user is not found - error message should be shown on login page (sms like - authenticated in aad successfully but teamcity user is not found and creation of new user is forbidden)

You was redirected to logi

[2015-02-27 12:32] #4 closed

[2015-02-27 16:45] victorhurdugaci commented on #4
Makes sense. Cheers!

[2015-02-27 17:44] victorhurdugaci commented on #3
Sorry, I will not share the id_token for privacy reasons but I managed to create a message that reproduces the problem. What is very interesting is that I can only reproduce this while running in TC. If I run this as a java console app, I don't get the same results (maybe it has something to do with what version of the libraries TC uses).

[code]

And the results. Notice than in the second invocat

[2015-03-03 14:54] ekoshkin commented on #1
- shown all plugin specific errors
- Inability to create new TeamCity user as a result of auth scheme configuration - fix will be available with TC 9.0.3

[2015-03-03 14:54] #1 closed

[2015-04-11 09:03] erikbra commented on #3
We have the same problems for some users. You can read about how this works e.g. on Wikipedia's artice on Base64: http://en.wikipedia.org/wiki/Base64 (it's under the section on Privacy Enhanced email)

To sum up, three bytes in base64 must be used to represent four characters. If the base64 encoded result of the message is not a multiple of four bytes, zeros should be added to the message to make

[2015-04-11 17:15] erikbra commented on #3
I added a pull request with a fix: https://github.com/ekoshkin/teamcity-azure-active-directory/pull/5

[2015-04-11 19:25] erikbra opened #6 "Critical: Signature is not verified"
In JWT.java, only the payload (claims) of the JWT token is read. This means that no verification of the signature is performed. In other words, anyone can modify the token and claim to be anyone.

Signature verification needs to be added.

[2015-05-11 02:00] jamescon commented on #6
Are there any plans to fix this?

[2015-05-11 08:16] erikbra commented on #6
@jamescon, I haven't heard anything since I reported the issue. @ekoshkin has not responded. I had jo quit using the plugin for this particular reason. I have filed another pull request on the project, #5, which fixes issue #3, but haven't heard anything on that one either. So I'm a little reluctant to fix this issue and file a pull request, if no one is going to respond to that one either.

It's

[2015-05-11 12:26] sballarati commented on #6
Hi, it seems that the Java JWT library can be used to fix this issue: https://github.com/jwtk/jjwt

Thanks,
Sebastian

[2015-06-10 10:54] ekoshkin commented on #3
merged pull request with fix, thnks @erikbra

[2015-06-10 10:54] #3 closed

[2015-06-11 13:37] ekoshkin commented on #6
Hi @erikbra , @jamescon! AFAIK public key used to validate JWT signatures is global (for all AAD's running under all registered user accounts). So I can't clarify what is the additional value to implement signature checking in case we already use SSL connection to Azure login endpoint, Please correct me if I wrong.

[2015-06-11 15:14] erikbra commented on #6
You must validate that the message has not been  tampered with. You
validate that the message has not been tampered with by validating the
message signature.

Now I can pretend to be anyone in my organization by editing the JWT before
posting it to Teamcity. (Using e.g. Fiddler). The signature is then
invalid, but we don't notice.
11. jun. 2015 15.37 skrev "Evgeniy Koshkin" <notifications@github.c

[2015-06-11 20:50] erikbra commented on #3
Lovely.

[2015-06-23 06:12] chipitsine opened #7 "Trace: java.lang.ArrayIndexOutOfBoundsException: 558"
Trace: java.lang.ArrayIndexOutOfBoundsException: 558
    at org.apache.commons.codec.binary.Base64.decodeBase64(Base64.java:420)
    at org.jetbrains.teamcity.aad.JWT.parse(JWT.java:42)
    at org.jetbrains.teamcity.aad.AADAuthenticationScheme.processAuthenticationRequest(AADAuthenticationScheme.java:98)
    at jetbrains.buildServer.controllers.interceptors.auth.impl.HttpAuthenticationManagerImpl.

[2015-06-25 11:44] ghost opened #8 "Change (or allow configuration of) how username, name and email account will be added to TeamCity from AD"
I just tried the plugin and it adds the AD full name as TeamCity username, and adds nothing for name and email on TeamCity account.

It seems most 'natural' if it let the AD username and full name be TeamCity username and name, respectivelly, and the AD UPN be the TeamCity email.

Or maybe a configuration option could be added on the plugin the allow these mappings

[2015-07-23 19:50] DamianEdwards opened #9 "Please add an OSS license"
Having a OSS license stated in the root of your repo (e.g. LICENSE.txt) will help many people who need an explicit license statement before being able to look at, use, or contribute to code due to corporate policy (as is true in my case :smile:).

I recommend using http://choosealicense.com/ to help with this.

[2015-07-27 17:07] anurse commented on #9
Big :+1: !

[2015-07-28 12:01] ekoshkin commented on #9
done
http://choosealicense.com/ - nice site by the way, thank you!

[2015-07-28 12:01] #9 closed

[2015-08-17 13:08] mikeblakeuk opened #10 "Hi Guys, have you seen this issue before?"
Additional technical information:
Correlation ID: eee80151-6e99-4231-xxx
Timestamp: 2015-08-17 11:17:01Z
AADSTS90013: Invalid input received from the user.

[2015-08-17 13:21] ekoshkin commented on #10
Nope, what MS guys are saying about it?

[2015-08-18 05:40] maartenba commented on #10
Having the same issue here. Can you ping me on Skype whenever you're online?

[2015-08-18 12:04] mikeblakeuk commented on #10
https://login.microsoftonline.com/common/oauth2/authorize&response_type... should be https://login.microsoftonline.com/common/oauth2/authorize?response_type...

https://msdn.microsoft.com/en-gb/library/azure/dn645542.aspx

[2015-08-18 12:25] maartenba commented on #8
Would be nice. This also makes it possible to link existing users to AAD users?

[2015-08-18 17:58] ekoshkin commented on #10
Looks like App Auth 2.0 Authorization endpoint format was changed on Azure Portal side.

[2015-08-18 18:17] #10 closed

[2015-08-19 10:33] mikeblakeuk opened #11 "Please add support for the Team City Tray (and other tools)"
Clicking the **Log in using Azure Active Directory** link doesn't appear to work.

![image](https://cloud.githubusercontent.com/assets/1986660/9354163/034fce64-4666-11e5-8b1b-43f8c4f4b377.png)

Thanks

[2015-08-19 11:41] ekoshkin commented on #11
What other tools do you mean?

[2015-08-19 13:11] mikeblakeuk commented on #11
![image](https://cloud.githubusercontent.com/assets/1986660/9356953/17248ee6-467c-11e5-9c87-7014664bc5d6.png)

https://confluence.jetbrains.com/display/TCD9/Installing+Tools

[2015-08-19 15:23] ekoshkin commented on #8
What JWT property d oyou expect to use as UPN
as for email - it is provided

[2015-08-19 15:25] maartenba commented on #8
Ideally it can be mapped, e.g. by e-mail so that it can be linked to an existing user.

[2015-08-19 15:35] ekoshkin commented on #8
@maartenba i gonna link existing users via email
the question is - what aad user jwt property to use as teamcity username

[2015-08-19 15:43] maartenba commented on #8
Configurable? Or part of the email before @?

[2015-08-19 16:13] ekoshkin commented on #8
why not to use name claim? full name of live id user is a given name and surname
so name is what we need - no?

[2015-08-19 17:40] maartenba commented on #8
That's an option, too. Although name (as well as email) could potentially change. uid or oid I believe is the unique key.

[2015-08-20 07:22] ekoshkin commented on #8
we already use oid to map teamcity user to aad user, so looks like all we need is to fill email and full name fields

[2015-08-20 07:37] maartenba commented on #8
Would that also make it possible to link existing TeamCity users to an AAD identity? E.g. we have a number of users in TeamCity already but would like to link them to an AAD identity so we can turn off basic auth and have AAD only.

[2015-08-20 13:58] ekoshkin commented on #8
It will be possible. But mapping via email required email to be trusted / verified.
So there will be an option in AAD auth schema settings - Accociate AAD user with existing TeamCity user via e-mail

[2015-08-20 14:14] maartenba commented on #8
:+1:

[2015-08-20 17:18] ekoshkin commented on #8
@andre-takenet i've failed to find mentioned properties in JWT retrieved from AAD. Could you please share an example of user profile and JWT?

[2015-08-20 18:28] andre-takenet commented on #8
@ekoshkin, I don´t know how to get a JWT sample...
Can you give me some hints for how can I do this?

[2015-08-21 13:50] ekoshkin commented on #8
@andre-takenet please take a look https://msdn.microsoft.com/en-us/library/azure/dn645542.aspx

[2015-08-21 16:11] andre-takenet commented on #8
@ekoshkin, I think the mapping could be:
TeamCity username -> unique_name
TeamCity name ->  given_name + family_name
TeamCity email -> upn

[2015-08-27 12:58] erichexter commented on #6
Sounds like a pull request.

[2015-09-26 22:00] erikbra commented on #6
Sorry, I haven't been able to followup on this, I have looked briefly at the Jawa JWT library that @sballarati mentions. It looks like it can do the job. What are your feelings on bringing in an external library dependency, @ekoshkin? I would prefer using an actively maintained JWT library over taking in the portions we need. It makes maintaining the code easier.

I am a bit time challenged, but I

[2015-09-30 18:35] ekoshkin commented on #6
@erikbra using JWT library looks good to me

[2015-11-10 13:29] chlsmith opened #13 "Question"
Dumb user question here.   Does this actually connect the AD user accounts to user accounts within the TeamCity built-in authentication db, or does it just provide a second layer of security?

I have it configured and it appears to be working.   However, after I sign in with my AD account, I just go to a regular TeamCity login window.   I've enabled the matching email address option and created a

[2015-11-10 13:42] ekoshkin commented on #13
This auth scheme works as following
- it receives UID, email, username of AD user from specified AD
- looks for already added TeamCity user for received UID, if found authenticate this TeamCity user
- if allowed by scheme options tries find TeamCity user by e-mail
- if not found and user creation is allowed, new TeamCity user is created, some user like email are setted for newly create user

[2015-11-11 22:27] chlsmith commented on #13
Here are my logs.  You will see the evidence of me adding and removing the user chsmith2 for my testing.

Right now that account doesn't exist in TC but does in Azure AD.   that's the one that should autocreate.

[teamcity-server.log.txt](https://github.com/ekoshkin/teamcity-azure-active-directory/files/32373/teamcity-server.log.txt)

[2015-11-12 08:47] ekoshkin commented on #13
Please also enable debug-auth logging preset on the server try to login and share the logs. You can send all the logs to evgeniy dot koskin at jetbrains dot com

[2015-11-12 17:57] chlsmith commented on #13
Emailing you the logs after changing the preset to debug-auth.

[2015-11-13 08:59] ekoshkin commented on #13
@chlsmith I do not see any kind of Azure AD activities in logs. Please make sure you've enabled Azure AAD auth scheme and put it first on the list of enabled auth modules.
Also please describe what kind of errors do you see on TeamCity login page?

[2015-11-13 14:46] chlsmith commented on #13
I see no errors whatsoever.   I just get taken straight from my Azure AD login page to the regular TeamCity page.   Does this look right?

![image](https://cloud.githubusercontent.com/assets/10780098/11148565/68a1b1e2-89eb-11e5-9ac2-eb8d592fe606.png)

[2015-11-14 13:46] ekoshkin commented on #13
@chlsmith so it works as expected)

[2015-11-16 15:59] chlsmith commented on #13
No, it doesn't work as I'd expect it.   When I try to log in with a user account that I have defined in Azure AD, it doesn't allow me into TeamCity.   It simply takes me to a TeamCity logon prompt.   is that the expected behavor, because that provides me very little.

[2015-11-17 16:22] ekoshkin commented on #13
Ok, so lets start from the very begining.
Please check that plugin was loaded - go to administration > plugin list page for that
After that please enable Azure AAD auth scheme / module
After that logout current user, go to TeamCity server login page
After that try to login via Azure AAD
Authenticate in Azure auth UI
After that you should be redirected directly to "my settings and tools" page in Te

[2015-11-18 12:04] ekoshkin commented on #13
Please make sure you've specified valid SIGN-ON URL and REPLY URL when registering TeamCity server as AAD application.

[2015-11-18 13:53] chlsmith commented on #13
I've verified everything and it's still the same.   This is all on a single, default built system, all running locally.    This isn't my production system, but just a PoC one that I want to setup before I do this for real in our prod environment.

[2015-11-18 13:57] ekoshkin commented on #13
So how do you reference teamcity server in azure aad configuration? What reply url do you use?
The reason i'm asking is that i see no requests from azure to teamcity with login info in logs you've provided.

[2015-11-18 14:10] chlsmith commented on #13
holy crap....I think I just figured something out.....

[2015-11-18 14:26] chlsmith commented on #13
Got it!   Holy crap!   All of that because I was using the wrong URL in my configuration.   I had a major brain fart and was using my prod URL instead of my test machine.

Sorry for all the runaround.

[2015-11-18 14:28] ekoshkin commented on #13
That is ok) Feel free to share your future feedback

[2015-11-18 14:28] #13 closed

[2015-11-18 14:37] chlsmith commented on #13
One more question......

My current environment uses all TC accounts only.  If I was to enable the Azure AD plugin and enable it, as long as the emails match between the AD and the TC accounts, the logons will use the same current account.   Correct?

Would you suggest doing this and then enabling new users at first logon, then enabling access through Azure AD, and then having new users only confi

[2015-11-18 14:37] chlsmith commented on #13
I guess that's three questions....all related.   :P

[2015-11-18 14:42] ekoshkin commented on #13
Correct

Nope, there will be single TeamCity account for any Azure account in your system.

[2015-12-04 15:26] chlsmith opened #14 "Oauth error"
I'm getting the attached error after I have everything configured.   I've had two sets of eyes examine my configuration on both the Azure and the TeamCity ends, and everything appears correct to me.   On the AD side, I have users configured for access, but I don't even get to the point of putting in credentials after I configure the TeamCity end.

<img width="731" alt="2015-12-04 10_24_48-twitter"

[2016-01-06 11:36] maartenba opened #15 "Group support"
We'd like to use group support in our deployment, where:
* Only users in a specific Azure AD group should be allowed access
* When the user is no longer in the group, the user should be denied access

This will require a call into the Azure AD Graph API to retrieve the user's list of groups.

[2016-01-15 17:31] yesman85 opened #16 "No login or user created after redirect"
I setup the plugin (I think correctly), but when I click the login with Azure link on the TC login page it will redirect me to the Azure login page, lets me login, but then it goes back to the TC login page again.

I also see no user has been added to the TC users list.

[2016-01-19 17:19] ekoshkin commented on #16
please provide teamcity server logs

[2016-01-19 17:51] yesman85 commented on #16
I shut down TC, removed all log files, started it up again, and tried to login with Azure. Attached are all found logs with debug-auth enabled.

[teamcity-auth.txt](https://github.com/ekoshkin/teamcity-azure-active-directory/files/96349/teamcity-auth.txt)

[2016-01-19 17:53] yesman85 commented on #16
I looked at the logs and it seems to work now. I had set the Reply Url to login.html instead of overview.html.

[2016-01-19 17:53] #16 closed

[2016-02-14 06:19] sepiroth887 commented on #15
+:100:

[2016-03-11 11:33] pqthompson opened #17 "Logging in to multiple TeamCity servers using one AAD application"
I have multiple TeamCity servers and I'm trying to set up one Azure Active Directory application to log into them all. I can set multiple reply URLs in the application configuration in Azure, but when logging in to TeamCity the AD login page always redirects to the last reply URL added to the application configuration. The ideal behaviour would be that it redirects to the TeamCity configuration th

[2016-03-16 15:41] ilivewithian opened #18 "Not a special user or login as special user is not allowed"
I'm trying to migrate our users over to Azure AD, the 3 users migrated over fine and were able to login with azure, but now we are seeing an error displayed to the users.

In the logs I'm seeing:

    [2016-03-16 15:14:29,375]   INFO [66:64972; http-bio-443-exec-49] - Login for user "<redacted email address>" failed for module "jetbrains.buildServer.serverSide.impl.auth.SpecialUsersLoginModule": j

[2016-03-16 15:54] ilivewithian commented on #18
Ah, I've also found this:

[code]

[2016-03-17 15:00] ekoshkin commented on #18
Hello, @ilivewithian
I've fixed the NullPointer exception which is the cause of the issue.

[2016-03-17 15:00] #18 closed

[2016-03-17 15:11] ekoshkin commented on #17
@pqthompson thank you for this feature request
please consider as a workaround - you can try to use JetBrains Hub which is a tool for authentication and its actually supports AD and its integration with TeamCity which is available.

[2016-04-05 10:43] mikeblakeuk commented on #11
Are there any plans for supporting the Tray Notifier? Thanks

[2016-05-26 08:39] RonnieHegelund commented on #14
It seems like it is requesting to authorize through it's own domain, instead of using https://login.microsoftonline.com

[2016-07-23 12:40] jeffreykey opened #19 "Clicking " Log in Log in using Azure Active Directory" redirects back to Login.html"
TeamCity v9.1.6 (and 9.1.7)

I believe I've set up TeamCity and Azure AD correctly, but whenever I click the link above, it sends me to login.microsoftonline.com/...., which then redirects back to the login page.

I've set the active logging preset to debug-auth. Here's what I'm seeing in teamcity-auth:

[code]

Any ideas? Is there anything else I can do to try to diagnose what is/isn't happening?

[2016-07-23 20:58] jeffreykey commented on #19
Just upgraded to v9.1.7 and am having the same problem.

[2016-07-24 02:55] jeffreykey commented on #19
Update: I just (accidentally) tried using Azure Active Directory login while signed into a different Microsoft account. I got an error page @ login.microsoftonline.com, so the request is getting processed correctly on Microsoft's servers. It looks like the issue is when the call gets back to TeamCity.

[2016-07-26 11:46] ekoshkin commented on #19
@jeffreykey try to enable debug-all preset and look into teamcity-server.log
Search for logs produced by AADAuthenticationScheme

[2016-09-02 10:56] chrisbrook83 commented on #11
I am also having a problem with the Windows Tray Notifier - I click the 'Log in using Azure Active Directory' but nothing happens

[2016-12-14 10:24] davidshorter commented on #14
We had this same issue, our setup is TC with SSL behind URL re-write rule / reverse proxy using IIS.
IIS URL rewrite was interfering with it. After following the instructions [here ](https://forums.iis.net/t/1217596.aspx) we were able to use AD Auth.

Seems to not be isolated to just Azure AD but any oauth2 flows.

[2016-12-21 21:48] jfatta commented on #6
@erikbra I submitted https://github.com/ekoshkin/teamcity-azure-active-directory/pull/20 to solve this. Thanks.

[2016-12-23 13:33] #6 closed

[2017-01-30 15:30] kcwinner opened #22 "Team City 10.x + support"
Is there a plan to support TC 10.x? I am trying to get it working and the plugin is loaded but it doesn't show up in my authentication modules list.

[2017-01-30 15:57] #22 closed

[2017-03-10 20:48] vicneanschi commented on #11
Log in using Azure Active Directory is not working for me either. (Version 10.0.1 (build 42078)

[2017-03-24 13:54] DALDEI opened #25 "Logout of Team City does not log out of Azure"
go to TC login page
Click link to Login via AD.
Directed to Outlook 365
Enter user + password of a test user -- Logs into TC < ! YEA >

Log out of TC.
close all browser windows.
open browser
go to TC login page
Click link to Login via AD
Logs directly into TC with no option to choose a different name.
Open incognito window and repeat.
I have not found any way to 'forget' the log in user and be dir

[2017-05-03 10:52] erikbra commented on #25
Is it really desired to log out of the Azure AD account when you log out of TeamCity? I don't know if I would like to be logged out of portal.azure.com, portal.office.com, etc, etc, if I log out of TeamCity...

[2017-05-17 15:22] mikehearn opened #26 "No way to log in via TeamCity IntelliJ Plugin when using AAD"
The TeamCity IntelliJ plugin requires a username and password. But I can't set one when using this plugin, at least, not from my own account page, because I don't have a current password with which to set a new one.

[2017-05-17 17:02] ElvenSpellmaker opened #27 "403 Forbidden when logging in from Webkit browsers (Chrome, Opera)"
We recently upgraded to TeamCity 2017.1.1, and when users try to use the AD to login they get a message stating:
`403 Forbidden: Respnding with 403 status code due to failed CSRF check: request's "Origin" header value "https://login.microsoftonline.com" does not maqtch Host/X-Forwarded-Host header values or server's CORS-trusted hosts, consider adding "Origin: https://myteamcityurl.com" header.`

[2017-05-18 13:40] ElvenSpellmaker commented on #27
Just for clarification so anyone else is clear on the workaround (I believe it's a workaround and not the fix) for this, this is because TeamCity 2017.1.1 adds a CSRF Protection feature which checks origins of requests to their REST API (and other endpoints).

This is where the feature's page is: https://confluence.jetbrains.com/display/TCD10/CSRF+Protection

By reading: https://confluence.jetbrai

[2017-06-02 21:29] goatmale commented on #27
Lifesaver ^
I added this as shown below:
`rest.cors.origins=https://login.microsoftonline.com`

[2017-06-13 10:13] ElvenSpellmaker commented on #27
This is hopefully patched in 2017.1.2 as described here: https://youtrack.jetbrains.com/issue/TW-49729

[2017-07-18 19:35] jeffreyBT commented on #19
I am having this same issue. Has it been resolved?

[2017-07-20 00:41] DALDEI commented on #27
I had a nearly identical problem, Azure was sending "Origin: null"  (literally 'null') and got the same error but

403 Forbidden: Respnding with 403 status code due to failed CSRF check: request's "Origin" header value "null" does not maqtch Host/X-Forwarded-Host header values or server's CORS-trusted hosts,

The first suggestion didnt work, on a wile whim I took a stab and guessed "originS" meant

[2017-08-02 14:38] kkirpichnikov opened #30 "TeamCity Windows Tray Notifier"
TeamCity Enterprise 2017.1.2 (build 46812)
Trying to login through Tray Notifier with Azure Active Directory
Sometimes it works some times it doesn't.
After three attempts the tray notifier window disappears.
After 6 - 10 attempts I am getting this message and when I close the message it works. If I close the tray and open it again, it doesn't work again.
![2017-08-02 10_25_33-login to teamcity](h

[2017-08-02 14:46] kkirpichnikov commented on #30
Some logs from teamcity-server.log
 INFO - s.buildServer.AUTH.SessionUser - Successful login for user 'User.Name@company_name.com' (User Name) {id=56} with auth module "HTTP-AAD" for session
from client 11.11.111.11:52 751, no associated user

After third attempt
 ERROR -   jetbrains.buildServer.SERVER - Error javax.servlet.jsp.JspException: java.lang.IllegalStateException: getAttribute: Session a

[2017-09-05 09:02] victornie92 opened #32 "HTTP Status 400 - Marked request as unauthenticated since retrieved JWT 'nonce' claim doesn't correspond to current TeamCity session."
I have this problem when i try to login with Azure Active Directory, and I can't seem to find any solution? Someone has the same problem or maybe a solution?

[2017-10-24 08:56] gaurav8053 opened #35 "Unable to add 'Microsoft Azure Active Directory' as HTTP Authentication Module on TeamCity Professional 2017.1.5 (build 47175)"
I am not able to perform following steps on latest TC server, can you please help?
Add 'Microsoft Azure Active Directory' HTTP authentication module to your authentication configuration.

Specify valid 'App OAuth 2.0 authorization endpoint' and 'Client ID' retrieved from Azure Portal.

Use 'Log in using Azure Active Directory' link available on Login page to login via your Azure Active Directory a

[2017-10-28 00:29] sokket commented on #19
I was hitting this problem too; the solution was to remove the 'v2.0' version from the OAuth endpoint. The endpoint that works for me is:

https://login.microsoftonline.com/<tenant id>/oauth2/authorize

[2017-11-16 12:45] Shan11812 commented on #32
@victornie92 did you find any solution??

[2017-11-16 13:43] victornie92 commented on #32
@Shan11812 No haven't found anything

[2017-11-28 11:22] dtretyakov commented on #27
Modern browsers could set `Origin: null` header while replying from HTTPS Azure endpoint to the HTTP URL of TeamCity server. See more details at the https://github.com/JetBrains/teamcity-azure-active-directory#known-issues

Please let me know if you are using TeamCity 2017.1.2+ with HTTPS URL and still need to specify `rest.cors.origins=null` property in your setup.

[2017-11-28 11:22] #27 closed

[2017-11-28 11:32] dtretyakov commented on #35
@gaurav8053, did you managed to create `Web app / API` Azure AD application and specify Reply URL as [described here](https://github.com/JetBrains/teamcity-azure-active-directory#configuring-azure-active-directory)?

If so need to visit Administration -> Authentication page in TeamCity server, then press `Switch to advanced mode`, press `Add module` button, select `Microsoft Azure Active Directory

[2017-11-28 11:32] #35 closed

[2017-11-28 11:34] gaurav8053 commented on #35
Hi,

Yes I was able to proceed ahead.
Apologies for not updating ticket and thanks for following up.

Regards,
Gaurav

From: Dmitry Tretyakov [mailto:notifications@github.com]
Sent: Tuesday, November 28, 2017 5:03 PM
To: JetBrains/teamcity-azure-active-directory <teamcity-azure-active-directory@noreply.github.com>
Cc: Gaurav Rane <Gaurav.Rane@varian.com>; Mention <mention@noreply.github.com>
Subje

[2017-11-28 14:57] #7 closed

[2017-11-28 14:58] #8 closed

[2017-11-28 15:27] dtretyakov commented on #19
Correct `OAuth 2.0 authorization endpoint` value could retrieved from on the Azure Portal at the App registration page by clicking on Endpoints button:
![image](https://user-images.githubusercontent.com/1025927/33327187-3158bab0-d457-11e7-97b1-caec2dd5fed9.png)

@jeffreyBT, what options do you have enabled for `Microsoft Azure Active Directory` authentication module? Did you checked 'Allow creatin

[2017-11-29 12:00] dtretyakov commented on #32
@victornie92, @Shan11812 it could happen when your TeamCity session was changed while SSO operation.

Could you please check that before and after login attempt TeamCity URL was not changed, e.g. http:// => https://. Also, please check that before and after login attempt `TCSESSIONID` cookie value was not changed.

[2017-11-29 15:39] dtretyakov commented on #25
@DALDEI, please the latest plugin build where is possible to specify `Consent` prompt type to select required account for Azure AD authentication. If you need to type user credentials each time you could use `Login` prompt type.

[2017-11-29 16:28] dtretyakov commented on #17
@pqthompson, please the [latest plugin build](https://plugins.jetbrains.com/plugin/9083-azure-active-directory) where while login specified reply URL of current TeamCity server.

[2017-11-29 16:28] #17 closed

[2017-11-30 11:11] Shan11812 commented on #32
@dtretyakov After restarting server and clearing cookies, it went through

[2017-12-10 20:38] dtretyakov commented on #32
Please comment if it is still actual.

[2017-12-10 20:38] #32 closed

[2017-12-10 20:41] #25 closed

[2017-12-10 20:41] #19 closed

[2017-12-10 20:43] dtretyakov commented on #30
Duplicates #11

[2017-12-10 20:43] #30 closed

[2017-12-18 04:47] jamielennox opened #36 "Azure Roles mapping"
Hi,

Great plugin, thanks very much.

I was looking to request a way to provide teamcity roles from AzureAD. For most other applications I can define appRoles for my application which would get sent to teamcity and translated into roles on the application. It would be really useful to have something similar here.

Obviously there are a lot of edge cases here that we can discuss here as to when you

[2017-12-18 19:54] lpatalas opened #37 "Invalid redirect when TeamCity is hosted on subpath"
Hello.

I host TeamCity instance on subpath like `https://mydomain.com/teamcity/`, so login should redirect to `https://mydomain.com/teamcity/overview.html` but this plugin always redirects to `https://mydomain.com/overview.html`. I guess this may be caused by following line: https://github.com/JetBrains/teamcity-azure-active-directory/blob/8fa7dc9e4ff75bf8cd2c2ee6406b78dea707e729/azure-active-dir

[2017-12-21 12:16] dtretyakov commented on #37
@lpatalas, it was fixed, could you please download the [latest plugin version](https://plugins.jetbrains.com/plugin/9083-azure-active-directory).

[2017-12-21 12:16] #37 closed

[2017-12-22 09:04] iremmats opened #38 "Authorization endpoint not picked up correctly"
We have configured the plugin and go to the login page for Teamcity. After clicking login with Azure AD we get a 404 not found.

https://myteamcityserver.mydomain.com/GUID/oauth2/authorize?response_type=id_token&client_id=client_id&scope=openid&nonce=E8D55A2D4DD18FF0BFAAC36540D9A70A&response_mode=form_post&prompt=login&redirect_uri=https://myteamcityserver.mydomain.com/overview.html

The problem i

[2017-12-22 09:32] dtretyakov commented on #38
@iremmats, it seems that you ahave reverse proxy with URL rewrite rules behind TeamCity server and your rules change URL specified in the `Endpoint URL` parameter from `https://login.microsoftonline.com/GUID/oauth2/authorize` to `https://myteamcityserver.mydomain.com/GUID/oauth2/authorize`.

To solve it contact your system administrator of this reverse proxy to tune these rewrite rules.

[2017-12-22 10:07] iremmats commented on #38
Ok I will dig into this. Thanks for quick reply!

[2017-12-22 10:19] iremmats commented on #38
Do you have an example of a IIS reverse proxy setup to have this work?
Our current setup is one rule matching * doing redirect to http://localhost:8080/{R:0}

[2017-12-22 10:41] iremmats commented on #38
It is solved. Discovered there was already a closed issue on this. Unchecking the box in IIS was enough.

https://github.com/JetBrains/teamcity-azure-active-directory/issues/14

[2017-12-22 10:41] #38 closed

[2018-01-17 15:45] erichexter opened #39 "Error installing the 0.5 version of the plugin."
After loading the plugin, I get the following error.
Failed to enable authentication module: HTTP-AAD, error: Cannot find authentication module for type: HTTP-AAD. Please check the corresponding plugin is installed. See the attached screenshot.

![image](https://user-images.githubusercontent.com/114692/35051352-a9ecc82e-fb6a-11e7-8348-6ba99b989ff6.png)

The plugin thinkgs it is missing the plugin

[2018-01-17 15:48] erichexter commented on #39
Also, the Azure Active Directory Authentication Module is not available in the Add Module dialog.
![image](https://user-images.githubusercontent.com/114692/35051722-848b78c2-fb6b-11e7-9f00-ccfed0bb1802.png)

[2018-01-17 15:54] dtretyakov commented on #39
@erichexter, the original plugin archive should be named `azure-active-directory.zip`. It looks that you have repacked it. Please download the latest version from the [plugins repository](https://plugins.jetbrains.com/plugin/9083-azure-active-directory) and upload it on the Administration -> Plugins List page.

If it helps please let me know.

[2018-01-17 16:41] erichexter commented on #39
I did not realize it was published there, I downloaded it from the github release page. https://github.com/JetBrains/teamcity-azure-active-directory/releases

[2018-01-17 16:59] #39 closed

[2018-02-01 05:38] jachin84 opened #40 "Consent screen always appears"
When logging in I am always asked to consent. Looking at the request I can see that &prompt=consent is being added. Consent is only required once. I'd just leave off the prompt=consent and let AzureAD decide if consent is required or not.

[2018-02-01 09:29] dtretyakov commented on #40
@jachin84, you could select proper `prompt` value in the AD integration settings:

![image](https://user-images.githubusercontent.com/1025927/35670865-016c8bea-073a-11e8-940d-aa89744d1591.png)

At the moment AD API allows to set `prompt` value in the as mentioned in the [OpenID request parameters specification](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-pro

[2018-02-05 05:58] jachin84 commented on #40
I cannot find any setting for change this prompt type

[2018-02-05 09:36] dtretyakov commented on #40
@jachin84, in this case please chech the version of Azure AD plugin installed by navigating to the page Administration -> Plugins List. If it less than 0.5.0 [download](https://plugins.jetbrains.com/plugin/9083-azure-active-directory) and [update plugin](https://confluence.jetbrains.com/display/TCDL/Installing+Additional+Plugins) to the latest version.

Then on the  Administration -> Authenticatio

[2018-09-27 09:36] prochan2 opened #41 "SSO as primary login module"
Is it possible to use SSO by default and open the built-in login page on demand only?

[2018-10-08 20:09] srvrguy commented on #2
That article has been removed, and replaced with [Branding Guidelines for Applications](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps). PR #29 addresses the new guidelines Microsoft has published for the login page link.

[2018-11-13 02:40] SithVicious opened #42 "Follow requested URL after login"
When using Built-in teamcity authentication, a user who requests a different page such as /queue.html will be prompted to login, and then redirected to /queue.html.

With Azure AD plugin this does not happen, users are always directed to /overview.html after logging in using Azure AD.

[2019-01-18 20:20] nejoyer commented on #42
This is a major pain point to me. I'm always following deep links and so ending up on /overview is not helpful. This wouldn't be a big deal if I was able to stay logged in longer, but it seems I'm logged out multiple times per day.

[2019-02-25 06:55] laurencee commented on #41
Yeah this would be pretty useful given the general move towards cloud in the industry.

[2019-04-23 15:06] alekseybarabash commented on #32
Hello, I installed plugin, configured TC (2018.2.4 (build 61678)) and setup Enterprise applications.
After try to login I have a problem:
400 Some of required claims were not found in parsed JWT. nonce - 744E97885355B4D198A9479192607634; name - null, oid - null

Does it possible to help?

[2019-06-13 01:32] hobpet opened #43 "Implicit grant - ID tokens required"
Documentation shall be updated to include a note that the **ID tokens** must be enabled under the **Implicit Grant** of the Azure AD Application.
This setting is under the Authentication tab of the application configuration.

[2019-06-18 02:58] SteppingHat opened #44 "Error: Some of required claims were not found in parsed JWT"
I've gone ahead and setup the bare minimum basic config. Upon clicking the sign in with azure button, I can see in the azure portal that the sign-in was successful, however when redirected back to TeamCity the following message is displayed:

    400 Some of required claims were not found in parsed JWT. nonce - 8CE58EA3686B64CF43D05A689FB819F7; name - null, oid - null

I have assured that the URL

[2019-06-18 03:10] SteppingHat commented on #44
Solved the issue. I was simply using the wrong endpoint. It seems that the OAuth 2.0 endpoint does not work.

**Doesn't work**

    https://login.microsoftonline.com/<tenantId>/oauth2/v2.0/authorize

**Does work**

    https://login.microsoftonline.com/<tenantId>/oauth2/authorize

The help text underneath the Endpoint URL field reads _Azure OAuth 2.0 authorization endpoint URL._ It might be a good

[2019-06-18 15:37] johndietz commented on #44
Thanks so much for the follow up @SteppingHat - i was getting bit by the exact same issue, removing the v2.0 from the route fixed me right up. Appreciate your secondary note a bunch.

[2019-07-03 14:45] ddoadmin commented on #41
i am in process of implementing SSO and this is blocker for me, it would be nice to have this option in the configuration it self, for e.g. a switch to on and off SSO as default option for authentication.

[2019-08-30 08:13] markusleino opened #45 "Log in Azure Active Directory link leads to 404 Page not found error page"
When pressing Log in Azure Active Directory link in TeamCity login screen you get error page "404 The page is not found". Reason seems to be wrong URL. It points to TeamCity server instead of Microsoft login page. If you replace TeamCity server address with Microsoft login page address and keep rest of the URL same it works fine.

Plugin version is SNAPSHOT-20180516102618

[2019-09-10 16:38] isharasjc opened #46 "The reply url specified in the request does not match the reply urls configured for the application"
Configured all as per the documentation, but giving me invalid reply URL issue.

<img width="1182" alt="Screen Shot 2019-09-10 at 10 04 38 PM" src="https://user-images.githubusercontent.com/20267042/64632807-7c85f180-d417-11e9-9f74-d912bebb0ca8.png">

<img width="651" alt="Screen Shot 2019-09-10 at 10 06 33 PM" src="https://user-images.githubusercontent.com/20267042/64632824-86a7f000-d417-11e9-85e

[2019-09-11 10:21] keith-vikode commented on #11
Hi, this issue has been open since 2015 but my team is unable to use the tray notifier without setting up alternate credentials (our Ops team is unwilling to do this as we're pushing heavily for everything to use AAD integration).

Are there any plans for fixing this, or should we look to alternative solutions?

[2019-09-11 11:20] mikeblakeuk commented on #11
(Note; we are now using Azure DevOps)

[2019-10-04 16:06] freecellwiz commented on #11
Just found this after getting a question from a user.  Can we get confirmation about the status of Azure AD support from the Tray Notifier?

[2019-12-11 16:00] opernes commented on #46
hello,

i know it might be late for you, but if anyone has the same issue...

Please check your Server url in Administration/Global settings. It must match with what you wrote in azure.

Olivier

[2019-12-11 16:01] opernes commented on #45
Same issue here, trying to open a case at jetbrains and will follow up here

[2020-01-08 12:21] Mistuke commented on #46
Thanks @opernes  that saved me a lot of time!

[2020-01-08 13:05] Mistuke commented on #44
Thanks @SteppingHat that helped me too!

[2020-01-20 00:53] laurencee commented on #45
Yep same issue just starting occuring for us as well a few days ago

[2020-01-28 01:06] laurencee commented on #45
Ok I eventually figured out the actual cause of this for us, the problem was our IIS Reverse Proxy had "Reverse rewrite host in response headers" option enabled by someone in ARR.

After disabling that the redirect worked as expected so I'm guessing something similar is going on here for others where response header host values are being incorrectly rewritten.

[2020-02-04 07:44] TomasJundulas commented on #46
I get the same error and can not find how to solve it.
![image](https://user-images.githubusercontent.com/32450118/73723837-b04d1500-4732-11ea-9578-bd8d2ef9ae18.png)
I can not find where to put Reply URLs, but I need Redirect URI.
Teamcity version: 2019.1.4 (build 66526)

[2020-03-04 15:54] oleksandr-zh opened #47 "After authenticate on Microsoft Azure , browser redirect to "https: //%TEAMCITY_URL%/login.html" again"
We are trying to use Azure Active Directory for logging into TeamCity with the help of this plugin:
https://github.com/JetBrains/teamcity-azure-active-directory
It is doesn't work.
After authenticate  on Microsoft Azure , browser redirect to "https: //%TEAMCITY_URL%/login.html"  again.

[2020-05-26 20:34] chris03 opened #48 ""403 status code due to failed CSRF check" after login"
I get the following error after a successful login:
[code]

My guess is that the new CSRF check since version 2020.01 prevents the POST request to pass.
See: https://www.jetbrains.com/help/teamcity/upgrade-notes.html#UpgradeNotes-LimitationofCORSsupportforwritingoperations

The only way I can get it to work is to disable csrf security by settings these internal properties:
[code]

[2020-05-27 06:14] burnasheva commented on #48
Hi, @chris03!
Thank you for reporting it. I've created [the bug](https://youtrack.jetbrains.com/issue/TW-66220) in our YouTrack. We'll try to fix it ASAP. Please, watch\vote it to get all future updates.

[2020-05-27 06:14] #48 closed

[2020-05-27 06:27] burnasheva commented on #44
I've created [a bug](https://youtrack.jetbrains.com/issue/TW-66221) in our YouTrack. We'll support v2 URLs. Please, watch\vote it to get future updates.

[2020-05-27 06:27] #44 closed

[2020-06-03 04:35] Mistuke commented on #15
Any plans to support this? It would be great if we could manage users based on AD groups.

[2020-06-23 13:59] vladimirglazkov opened #49 "400 Marked request as unauthenticated since retrieved JWT 'nonce' claim doesn't correspond to current TeamCity session."
TeamCity Enterprise 2020.1.1 (build 78657)

I've tried to use both URLs:
https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/authorize
https://login.microsoftonline.com/{tenant_id}/oauth2/authorize

TC is located behind Nginx.
Configured this way:
https://www.jetbrains.com/help/teamcity/how-to.html#HowTo...-Commonmisconfigurations

It works fine with previous release - TeamCity Enterprise 20

[2020-06-24 03:55] SithVicious commented on #49
Unfortunately having this issue too.
Hosted behind IIS proxy

[2020-06-26 07:49] Jevonius commented on #49
We're also seeing this, with an IIS proxy. Reverting to 2020.1 fixed it. Have tried the updated snapshot version release on 6th June with no joy.

[2020-06-26 12:51] IlyaFomenko commented on #49
I've created the [bug](https://youtrack.jetbrains.com/issue/TW-66625) in our YouTrack. Please, watch it to get all future updates.

[2020-07-01 23:58] SithVicious commented on #49
Brilliant! thank you David for this workaround, i can confirm it worked for me.

[2020-07-03 10:27] a121984376 opened #50 "Is this support private Windows Acitve Directory?"
Is this support private Windows Acitve Directory?  not Azure
Thanks

[2020-07-03 16:23] musmuris commented on #49
We upgraded last night and have the same issue. Tried the same as above but now it gives
```403 Forbidden: Responding with 403 status code due to failed CSRF check: authenticated POST request is made, but neither tc-csrf-token parameter nor X-TC-CSRF-Token header are provided.. For a temporary workaround, you can set internal property teamcity.csrf.paranoid=false  and provide valid Origin=https://

[2020-07-03 16:54] musmuris commented on #49
The new plugin mentioned in https://youtrack.jetbrains.com/issue/TW-66625 works for us.  Just installed latest and it's back.

[2020-07-06 07:56] #49 closed

[2020-07-14 12:17] DanielBryars commented on #44
@SteppingHat Thank you! I had the same issue. Sorted now.

[2020-08-05 10:15] jachin84 opened #51 "Responding with 403 status code due to failed CSRF check"
After authenticating with Azure AD I'm see the following error:

[code]

[2020-08-17 00:55] SithVicious commented on #51
The error tells you what to do:  set internal property teamcity.csrf.paranoid=false
Admin > Diagnostics > Internal Properties

![Capture](https://user-images.githubusercontent.com/25457310/90348189-1f0f1180-e078-11ea-9977-960874f623d9.PNG)

[2020-08-17 00:55] SithVicious commented on #50
No. Only AzureAD

[2020-08-17 00:56] SithVicious commented on #47
https://github.com/JetBrains/teamcity-azure-active-directory/issues/42

Please post up in this enhancement, we have one open for this

[2020-08-17 01:18] jachin84 commented on #51
I have those settings in place already.

[2020-08-17 14:17] yannnis opened #52 "Getting 400 error after upgrading to latest TC and plugin."
Hi all

We started getting the following error after upgrading quite a few of the components. We also created the Azure AD enterprise app again but no luck

"400 Marked request as unauthenticated since failed to parse JWT from retrieved id_token" (token follows)

I suspect it has to do with a certificate mismatch in TC and the AAD plugin. Anyone able to help?

[2020-08-31 19:53] bobbyinthedark commented on #51
I'm having the same issue. The error is pretty clear to use the paranoid=false setting as a **temporary** workaround, implying it's not suitable for production.

[2020-09-04 01:18] SithVicious commented on #51
Perfect - this is working for me in latest update.

[2020-09-15 09:35] #51 closed

[2020-09-15 21:08] jachin84 commented on #51
Why is this issue closed? It is pretty clear from the error message in TeamCity that the workaround is **temporary**. What is the permanent solution to this issue that does not involve disabling security protocols?

[2020-09-16 00:54] SithVicious commented on #51
It was fixed in the latest version of the plugin.

https://github.com/JetBrains/teamcity-azure-active-directory/commit/546b31f27bc4d9f24fc3bc611562eaabf7141068

[2020-09-16 01:00] SithVicious commented on #52
https://youtrack.jetbrains.com/issue/TW-66625

Doesnt this work for you?

[2020-09-16 04:00] IlyaFomenko commented on #51
Please install latest plugin version (0.7.0)
You can find corresponding YT ticket here: [https://youtrack.jetbrains.com/issue/TW-66220](https://youtrack.jetbrains.com/issue/TW-66220)

[2020-09-16 04:04] IlyaFomenko commented on #52
Please try 0.7.0 version of the plugin

[2020-09-16 07:03] pstabno commented on #52
Hello,

Also facing similar issue with error 400. Yesterday I've updated plugin to version 0.7.0. TC server in version 2020.1.3. Same behavior like for previous version of plugin. Also I've just tried solution from @SithVicious  but unfortunately without any luck. Are there any possible ways to debug this issue deeper?

[2020-09-16 07:12] SithVicious commented on #52
Definitely rebooted after?

-Paul

On 16 Sep 2020, at 5:03 pm, pstabno <notifications@github.com> wrote:

﻿

Hello,

Also facing similar issue with error 400. Yesterday I've updated plugin to version 0.7.0. TC server in version 2020.1.3. Same behavior like for previous version of plugin. Also I've just tried solution from @SithVicious<https://github.com/SithVicious> but unfortunately without any l

[2020-09-16 07:35] pstabno commented on #52
Yes - even whole VM that is hosting this instance.

[2020-09-17 07:56] pstabno commented on #52
Even tried AzureAD with proxy - still no success. We are getting out of ideas :/

[2020-09-17 08:15] IlyaFomenko commented on #52
@yannnis, @pstabno could you please raise a support ticket [here](https://teamcity-support.jetbrains.com/hc/en-us/community/topics/200366709-TeamCity-General-Topics) and post ticket id?
I need more information like logs etc.

[2020-09-17 08:18] pstabno commented on #52
Also I would like to ask - should we go only with default attributes and claims? or there should be any custom ones added? Also - just for my curiosity - why plugin is using ApplicationID instead of certificate directly?

[2020-09-17 09:02] pstabno commented on #52
https://teamcity-support.jetbrains.com/hc/en-us/community/posts/360009744200-Error-400-Bad-request-when-integrate-with-AzureAD

[2020-09-29 14:11] sava-nicolae-dragos commented on #15
Is this supposed to control permissions for TC project?
The question is referring to replicating the 'Ldap' mapping integration from AD to Azure AD groups

[2020-09-29 14:40] sava-nicolae-dragos commented on #15
So what we want is to have groups in TC be synched based on groups from Azure AD.
They should sync contain all users that the group/subgroup from Azure AD has.
Users will also need to be generated based on the users contained in the Azure AD group/subgroup.

[2020-10-03 00:13] hulvei3 opened #53 "Hardcoded path after successful authentication prevents new UI adoption"
Because the redirect path is hardcoded to `/overview.html`, we always get the old UI until we either go to the root or remove the ".html".

This is a big point of annoyance for our devs - especially due to the short session time which makes us do this many times a day as stated in another issue.

For us a simple removal of the path segment below would suffice

https://github.com/JetBrains/teamcity

[2020-11-11 19:41] joshschmitter commented on #32
Looks like this issue was fixed with a plugin update: https://youtrack.jetbrains.com/issue/TW-66625

[2020-11-20 08:39] MPowellFDB opened #54 "User is logged out after 24 hrs even when selecting KMSI"
Log in is working fine when I use this plugin, but I'm logged out after 24 hours even when I use the "Keep Me Signed In" dialog.

[2020-11-30 09:46] IlyaFomenko commented on #53
Hi, @hulvei3!
Thank you for reporting it. I've created [the bug](https://youtrack.jetbrains.com/issue/TW-69037) in our YouTrack. Please, watch\vote it to get all future updates.

[2020-11-30 09:46] #53 closed

[2020-12-04 14:35] IlyaFomenko commented on #53
Hi, @hulvei3!
Please try a new 0.7.2 version.
We added an option to redirect to TC root. [Here](https://github.com/JetBrains/teamcity-azure-active-directory#switching-to-the-new-ui) is a short instruction.

[2020-12-05 23:21] hulvei3 commented on #53
Thanks for the fix and description. Works like a charm!

[2020-12-16 10:26] MPowellFDB commented on #54
After some further digging it seems as though TeamCity is logged out every time I sign out of my AAD-joined laptop, not after a set time period.

[2021-03-09 16:44] OleksiiH commented on #41
Any updates on this?
Very required functionality

[2021-03-22 19:27] Vaccano commented on #48
For others hitting this page, here is an example powershell call to queue a build using the new CORS header:

    $bearerToken = "Your Team City API Token Here"
    $csrfToken = (Invoke-WebRequest https://TeamCityServerHere/authenticationTest.html?csrf -Headers @{"Authorization" = "Bearer $bearerToken"}).Content
    Invoke-WebRequest https://TeamCityServerHere/action.html?add2Queue=Your_Build_Id_H

[2021-03-30 14:21] solazs opened #56 "400 Marked request as unauthenticated since failed to parse JWT from retrieved id_token"
After upgrading to latest teamcity (2020.2.3) and the latest version of the aad plugin (0.7.2), we're getting the following error after logging in to teamcity:

400 Marked request as unauthenticated since failed to parse JWT from retrieved id_token <some 4 lines of data here>

I'm unsure what this is caused by.
We have CORS set up according to the plugin docs, our config worked before upgrading.

[2021-03-30 14:37] IlyaFomenko commented on #56
@solazs could you please verify that you are using "OAuth 2.0 authorization endpoint (v1)" for the plugin?

[2021-03-30 14:49] solazs commented on #56
Yes, I'm using "https://login.microsoftonline.com/<tenant-id>/oauth2/authorize", which is "OAuth 2.0 authorization endpoint (v1)"

[2021-03-30 16:12] IlyaFomenko commented on #56
I create an issue in our [YouTrack](https://youtrack.jetbrains.com/issue/TW-70876)
Please post your answers there.

Are you using internal property:
teamcity.aad.endpoint.type=dedicated
?
Also please attach the full text of the error with id_token (please make it visible to jetbrains team only).

[2021-03-30 16:25] solazs commented on #56
@IlyaFomenko done.

[2021-06-17 07:43] LapNik opened #57 "LDAP synchronized user is deleted after signing in with Azure AD"
When I use both the Azure AD and default login page authentication methods, my LDAP synchronized user gets deleted. I assume that this is because logging in with Azure AD changes the username from "firstname.lastname" to "fistname.lastname@company.com". The property `teamcity.options.deleteUsers` is enabled in my setup, so when the LDAP users are synchronized the latter username is not found and t

[2021-11-12 10:16] GalballyJ commented on #41
this would also be helpful for us

[2021-11-12 10:17] GalballyJ commented on #36
yes please

[2021-11-15 14:29] StephenShamakian commented on #56
@solazs @IlyaFomenko Was this ever solved? We are running into the same issue with v2021.1.3 of TeamCity and the latest plugin version for AzureAD.

[2021-11-18 18:13] matthewzdonczik commented on #56
@solazs @IlyaFomenko any updates on this one? I am having the same problem with plugin version 0.7.2 and teamcity version 2021.2

[2021-11-18 18:19] StephenShamakian commented on #56
@matthewzdonczik I had JetBrains support open a ticket for us: https://youtrack.jetbrains.com/issue/TW-74020

But I believe the issue we have is around the JWT token verifier needing access to the URL listed in this code: https://github.com/JetBrains/teamcity-azure-active-directory/blob/master/azure-active-directory-server/src/main/kotlin/org/jetbrains/teamcity/aad/JWTVerifier.kt#L25

JetBrains sa

[2022-04-28 22:53] Yamazaki93 commented on #43
I second this. We literally spent hours on this issue alone without any clue what was happening. Nowhere in the documentation mentioned this needs to be done after registration and it wasn't presented as an option during registration of the application in AAD, maybe Azure changed their UI?

For those who are probably stuck, the symptom for us presented itself as (in our setup, we allow creating a

[2022-04-28 23:06] masonsa commented on #47
Any update on this issue ?
We have recently deployed the latest plugin (7.2) and whilst the Oauth session is completed successfully, I am just redirected back to the login page again.

[2022-05-06 08:46] tolache commented on #42
From a support request:

[2022-08-12 21:57] naraysh commented on #15
Is this functionality available in Teamcity to get the Azure AD groups synched and mapped to teamcity groups yet ?